ion-content {
  --background: transparent;
}

ion-title{
  text-align: center;
}

ion-toolbar{
  --background: transparent;
  background-color: aqua;
}

.recipeTitle{
  text-align: center;
}

.randomTitle{
  padding-right: 75px;
}